{
  "openapi": "3.1.0",
  "info": {
    "title": "FluentEDI",
    "version": "1.1.0",
    "summary": "Deterministic tools for AI agents. No key, no signup, no SDK.",
    "description": "A public HTTP API of deterministic tools for the work a language model cannot do reliably by reasoning: knowing the current time in any timezone and whether an instant falls inside a window, exact arithmetic, hashing and signature verification, canonicalizing and content-addressing JSON, repairing malformed JSON and pinpointing where it broke, querying and diffing structured data, parsing CSV correctly, converting units, colours and currencies at live ECB rates, testing regular expressions, resolving DNS, looking up WHOIS/RDAP registration for any domain or IP, validating email addresses down to their MX records, checking whether a URL is still live, and extracting the text of PDF, Word, Excel and OpenDocument files as markdown. Every tool is one stateless GET or POST returning JSON, and the same tools are exposed over the Model Context Protocol at /mcp. Coverage runs deepest in retail EDI — X12 850, 856, 810, 855 and 997 parsing and validation, and GS1 check digits — which no other free, unauthenticated service offers agents.",
    "license": {
      "name": "Free to use",
      "identifier": "MIT"
    }
  },
  "servers": [
    {
      "url": "https://fluentedi.com"
    }
  ],
  "tags": [
    {
      "name": "time",
      "description": "Time, dates and windows"
    },
    {
      "name": "schedule",
      "description": "Scheduling"
    },
    {
      "name": "data",
      "description": "JSON and tabular data"
    },
    {
      "name": "doc",
      "description": "Documents (PDF, Word, Excel)"
    },
    {
      "name": "text",
      "description": "Text"
    },
    {
      "name": "crypto",
      "description": "Hashing, signatures, encoding and identifiers"
    },
    {
      "name": "compute",
      "description": "Calculation and conversion"
    },
    {
      "name": "web",
      "description": "Web and network"
    },
    {
      "name": "edi",
      "description": "EDI and retail supply chain (X12)"
    },
    {
      "name": "meta",
      "description": "Finding your way around"
    }
  ],
  "paths": {
    "/v1/time/now": {
      "get": {
        "operationId": "time_now_get",
        "summary": "Current date and time in any IANA timezone.",
        "description": "Returns the authoritative current time in one or more timezones, with UTC offset, ISO week number, day of year, weekend flag, and daylight-saving state. Use this instead of guessing the date: a language model has no clock, and its training cutoff is not today.",
        "tags": [
          "time"
        ],
        "parameters": [
          {
            "name": "timezone",
            "in": "query",
            "required": false,
            "description": "IANA timezone identifier, e.g. \"UTC\", \"America/New_York\", \"Asia/Kolkata\", \"Europe/London\".",
            "schema": {
              "description": "IANA timezone identifier, e.g. \"UTC\", \"America/New_York\", \"Asia/Kolkata\", \"Europe/London\".",
              "type": "string",
              "default": "UTC",
              "examples": [
                "America/New_York"
              ]
            }
          },
          {
            "name": "also",
            "in": "query",
            "required": false,
            "description": "Additional timezones to report alongside the primary one.",
            "schema": {
              "description": "Additional timezones to report alongside the primary one.",
              "type": "array",
              "default": [],
              "items": {
                "type": "string"
              },
              "examples": [
                [
                  "Asia/Tokyo",
                  "Europe/Berlin"
                ]
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tool result.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "tool": {
                      "type": "string"
                    },
                    "result": {
                      "type": "object",
                      "description": "Tool-specific result payload."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input. The body carries the parameter schema and working examples."
          }
        }
      },
      "post": {
        "operationId": "time_now_post",
        "summary": "Current date and time in any IANA timezone.",
        "description": "Returns the authoritative current time in one or more timezones, with UTC offset, ISO week number, day of year, weekend flag, and daylight-saving state. Use this instead of guessing the date: a language model has no clock, and its training cutoff is not today.",
        "tags": [
          "time"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "timezone": {
                    "description": "IANA timezone identifier, e.g. \"UTC\", \"America/New_York\", \"Asia/Kolkata\", \"Europe/London\".",
                    "type": "string",
                    "default": "UTC",
                    "examples": [
                      "America/New_York"
                    ]
                  },
                  "also": {
                    "description": "Additional timezones to report alongside the primary one.",
                    "type": "array",
                    "default": [],
                    "items": {
                      "type": "string"
                    },
                    "examples": [
                      [
                        "Asia/Tokyo",
                        "Europe/Berlin"
                      ]
                    ]
                  }
                },
                "required": [],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool result.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "tool": {
                      "type": "string"
                    },
                    "result": {
                      "type": "object",
                      "description": "Tool-specific result payload."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input. The body carries the parameter schema and working examples."
          }
        }
      }
    },
    "/v1/time/convert": {
      "get": {
        "operationId": "time_convert_get",
        "summary": "Convert a timestamp between timezones.",
        "description": "Converts one instant into any number of timezones, handling daylight saving transitions correctly. Naive inputs (no Z or offset) are read as wall-clock time in `from`; inputs carrying an offset are absolute.",
        "tags": [
          "time"
        ],
        "parameters": [
          {
            "name": "time",
            "in": "query",
            "required": false,
            "description": "The instant to convert: ISO 8601, a naive wall-clock time, a unix timestamp, or \"now\".",
            "schema": {
              "description": "The instant to convert: ISO 8601, a naive wall-clock time, a unix timestamp, or \"now\".",
              "type": "string",
              "default": "now",
              "examples": [
                "2026-08-22T14:30:00"
              ]
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "description": "Timezone the input is expressed in (used only when it carries no offset).",
            "schema": {
              "description": "Timezone the input is expressed in (used only when it carries no offset).",
              "type": "string",
              "default": "UTC",
              "examples": [
                "America/New_York"
              ]
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": true,
            "description": "Target timezones.",
            "schema": {
              "description": "Target timezones.",
              "type": "array",
              "default": [
                "UTC"
              ],
              "items": {
                "type": "string"
              },
              "examples": [
                [
                  "Asia/Tokyo",
                  "America/New_York"
                ]
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tool result.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "tool": {
                      "type": "string"
                    },
                    "result": {
                      "type": "object",
                      "description": "Tool-specific result payload."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input. The body carries the parameter schema and working examples."
          }
        }
      },
      "post": {
        "operationId": "time_convert_post",
        "summary": "Convert a timestamp between timezones.",
        "description": "Converts one instant into any number of timezones, handling daylight saving transitions correctly. Naive inputs (no Z or offset) are read as wall-clock time in `from`; inputs carrying an offset are absolute.",
        "tags": [
          "time"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "time": {
                    "description": "The instant to convert: ISO 8601, a naive wall-clock time, a unix timestamp, or \"now\".",
                    "type": "string",
                    "default": "now",
                    "examples": [
                      "2026-08-22T14:30:00"
                    ]
                  },
                  "from": {
                    "description": "Timezone the input is expressed in (used only when it carries no offset).",
                    "type": "string",
                    "default": "UTC",
                    "examples": [
                      "America/New_York"
                    ]
                  },
                  "to": {
                    "description": "Target timezones.",
                    "type": "array",
                    "default": [
                      "UTC"
                    ],
                    "items": {
                      "type": "string"
                    },
                    "examples": [
                      [
                        "Asia/Tokyo",
                        "America/New_York"
                      ]
                    ]
                  }
                },
                "required": [
                  "to"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool result.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "tool": {
                      "type": "string"
                    },
                    "result": {
                      "type": "object",
                      "description": "Tool-specific result payload."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input. The body carries the parameter schema and working examples."
          }
        }
      }
    },
    "/v1/time/add": {
      "get": {
        "operationId": "time_add_get",
        "summary": "Add or subtract a duration from a date, calendar-aware.",
        "description": "Adds years, months, weeks, days, hours, minutes and seconds to an instant. Calendar units (years, months, weeks, days) move wall-clock time and clamp overflow — Jan 31 plus one month is Feb 28 or 29, never Mar 3. Clock units (hours, minutes, seconds) add exact elapsed time and therefore cross DST boundaries.",
        "tags": [
          "time"
        ],
        "parameters": [
          {
            "name": "time",
            "in": "query",
            "required": false,
            "description": "Starting instant: ISO 8601, unix timestamp, or \"now\".",
            "schema": {
              "description": "Starting instant: ISO 8601, unix timestamp, or \"now\".",
              "type": "string",
              "default": "now"
            }
          },
          {
            "name": "timezone",
            "in": "query",
            "required": false,
            "description": "IANA timezone identifier, e.g. \"UTC\", \"America/New_York\", \"Asia/Kolkata\", \"Europe/London\".",
            "schema": {
              "description": "IANA timezone identifier, e.g. \"UTC\", \"America/New_York\", \"Asia/Kolkata\", \"Europe/London\".",
              "type": "string",
              "default": "UTC",
              "examples": [
                "America/New_York"
              ]
            }
          },
          {
            "name": "years",
            "in": "query",
            "required": false,
            "description": "Years to add (negative subtracts).",
            "schema": {
              "description": "Years to add (negative subtracts).",
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "months",
            "in": "query",
            "required": false,
            "description": "Months to add (negative subtracts). Day-of-month is clamped.",
            "schema": {
              "description": "Months to add (negative subtracts). Day-of-month is clamped.",
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "weeks",
            "in": "query",
            "required": false,
            "description": "Weeks to add (negative subtracts).",
            "schema": {
              "description": "Weeks to add (negative subtracts).",
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "days",
            "in": "query",
            "required": false,
            "description": "Calendar days to add (negative subtracts).",
            "schema": {
              "description": "Calendar days to add (negative subtracts).",
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "hours",
            "in": "query",
            "required": false,
            "description": "Exact hours to add (negative subtracts).",
            "schema": {
              "description": "Exact hours to add (negative subtracts).",
              "type": "number",
              "default": 0
            }
          },
          {
            "name": "minutes",
            "in": "query",
            "required": false,
            "description": "Exact minutes to add (negative subtracts).",
            "schema": {
              "description": "Exact minutes to add (negative subtracts).",
              "type": "number",
              "default": 0
            }
          },
          {
            "name": "seconds",
            "in": "query",
            "required": false,
            "description": "Exact seconds to add (negative subtracts).",
            "schema": {
              "description": "Exact seconds to add (negative subtracts).",
              "type": "number",
              "default": 0
            }
          },
          {
            "name": "business_days",
            "in": "query",
            "required": false,
            "description": "Weekdays to add, skipping Saturday and Sunday.",
            "schema": {
              "description": "Weekdays to add, skipping Saturday and Sunday.",
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tool result.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "tool": {
                      "type": "string"
                    },
                    "result": {
                      "type": "object",
                      "description": "Tool-specific result payload."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input. The body carries the parameter schema and working examples."
          }
        }
      },
      "post": {
        "operationId": "time_add_post",
        "summary": "Add or subtract a duration from a date, calendar-aware.",
        "description": "Adds years, months, weeks, days, hours, minutes and seconds to an instant. Calendar units (years, months, weeks, days) move wall-clock time and clamp overflow — Jan 31 plus one month is Feb 28 or 29, never Mar 3. Clock units (hours, minutes, seconds) add exact elapsed time and therefore cross DST boundaries.",
        "tags": [
          "time"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "time": {
                    "description": "Starting instant: ISO 8601, unix timestamp, or \"now\".",
                    "type": "string",
                    "default": "now"
                  },
                  "timezone": {
                    "description": "IANA timezone identifier, e.g. \"UTC\", \"America/New_York\", \"Asia/Kolkata\", \"Europe/London\".",
                    "type": "string",
                    "default": "UTC",
                    "examples": [
                      "America/New_York"
                    ]
                  },
                  "years": {
                    "description": "Years to add (negative subtracts).",
                    "type": "integer",
                    "default": 0
                  },
                  "months": {
                    "description": "Months to add (negative subtracts). Day-of-month is clamped.",
                    "type": "integer",
                    "default": 0
                  },
                  "weeks": {
                    "description": "Weeks to add (negative subtracts).",
                    "type": "integer",
                    "default": 0
                  },
                  "days": {
                    "description": "Calendar days to add (negative subtracts).",
                    "type": "integer",
                    "default": 0
                  },
                  "hours": {
                    "description": "Exact hours to add (negative subtracts).",
                    "type": "number",
                    "default": 0
                  },
                  "minutes": {
                    "description": "Exact minutes to add (negative subtracts).",
                    "type": "number",
                    "default": 0
                  },
                  "seconds": {
                    "description": "Exact seconds to add (negative subtracts).",
                    "type": "number",
                    "default": 0
                  },
                  "business_days": {
                    "description": "Weekdays to add, skipping Saturday and Sunday.",
                    "type": "integer",
                    "default": 0
                  }
                },
                "required": [],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool result.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "tool": {
                      "type": "string"
                    },
                    "result": {
                      "type": "object",
                      "description": "Tool-specific result payload."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input. The body carries the parameter schema and working examples."
          }
        }
      }
    },
    "/v1/time/diff": {
      "get": {
        "operationId": "time_diff_get",
        "summary": "Duration between two dates, in every unit.",
        "description": "Computes the elapsed time between two instants: exact totals in each unit, a calendar breakdown (years/months/days rather than 'thirteen and a half months'), the count of weekdays in between, and a human phrase. Negative when `to` precedes `from`.",
        "tags": [
          "time"
        ],
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "required": false,
            "description": "Start instant: ISO 8601, unix timestamp, or \"now\".",
            "schema": {
              "description": "Start instant: ISO 8601, unix timestamp, or \"now\".",
              "type": "string",
              "default": "now",
              "examples": [
                "1990-05-14"
              ]
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "description": "End instant: ISO 8601, unix timestamp, or \"now\".",
            "schema": {
              "description": "End instant: ISO 8601, unix timestamp, or \"now\".",
              "type": "string",
              "default": "now"
            }
          },
          {
            "name": "timezone",
            "in": "query",
            "required": false,
            "description": "IANA timezone identifier, e.g. \"UTC\", \"America/New_York\", \"Asia/Kolkata\", \"Europe/London\".",
            "schema": {
              "description": "IANA timezone identifier, e.g. \"UTC\", \"America/New_York\", \"Asia/Kolkata\", \"Europe/London\".",
              "type": "string",
              "default": "UTC",
              "examples": [
                "America/New_York"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tool result.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "tool": {
                      "type": "string"
                    },
                    "result": {
                      "type": "object",
                      "description": "Tool-specific result payload."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input. The body carries the parameter schema and working examples."
          }
        }
      },
      "post": {
        "operationId": "time_diff_post",
        "summary": "Duration between two dates, in every unit.",
        "description": "Computes the elapsed time between two instants: exact totals in each unit, a calendar breakdown (years/months/days rather than 'thirteen and a half months'), the count of weekdays in between, and a human phrase. Negative when `to` precedes `from`.",
        "tags": [
          "time"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "from": {
                    "description": "Start instant: ISO 8601, unix timestamp, or \"now\".",
                    "type": "string",
                    "default": "now",
                    "examples": [
                      "1990-05-14"
                    ]
                  },
                  "to": {
                    "description": "End instant: ISO 8601, unix timestamp, or \"now\".",
                    "type": "string",
                    "default": "now"
                  },
                  "timezone": {
                    "description": "IANA timezone identifier, e.g. \"UTC\", \"America/New_York\", \"Asia/Kolkata\", \"Europe/London\".",
                    "type": "string",
                    "default": "UTC",
                    "examples": [
                      "America/New_York"
                    ]
                  }
                },
                "required": [],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool result.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "tool": {
                      "type": "string"
                    },
                    "result": {
                      "type": "object",
                      "description": "Tool-specific result payload."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input. The body carries the parameter schema and working examples."
          }
        }
      }
    },
    "/v1/time/window": {
      "get": {
        "operationId": "time_window_get",
        "summary": "Test whether an instant falls inside a time window, and by how much it misses.",
        "description": "Answers the questions a deadline actually poses: is this instant inside the window, how long until it opens or closes, and if it is outside, by how much. Optionally compares two windows for overlap. A window comparison that silently succeeds against the wrong bounds is a failure mode that does not raise an error anywhere — the ship window is missed, or the ASN is late, and the only symptom is a chargeback later. This computes the boundary instead of assuming it.",
        "tags": [
          "time"
        ],
        "parameters": [
          {
            "name": "start",
            "in": "query",
            "required": true,
            "description": "Window opens at this instant: ISO 8601, unix timestamp, or \"now\".",
            "schema": {
              "description": "Window opens at this instant: ISO 8601, unix timestamp, or \"now\".",
              "type": "string",
              "examples": [
                "2026-08-24T09:00:00Z"
              ]
            }
          },
          {
            "name": "end",
            "in": "query",
            "required": false,
            "description": "Window closes at this instant. Omit if using `duration_hours`.",
            "schema": {
              "description": "Window closes at this instant. Omit if using `duration_hours`.",
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "duration_hours",
            "in": "query",
            "required": false,
            "description": "Window length in hours, used when `end` is omitted.",
            "schema": {
              "description": "Window length in hours, used when `end` is omitted.",
              "type": "number",
              "default": 0
            }
          },
          {
            "name": "instant",
            "in": "query",
            "required": false,
            "description": "The instant to test against the window.",
            "schema": {
              "description": "The instant to test against the window.",
              "type": "string",
              "default": "now"
            }
          },
          {
            "name": "timezone",
            "in": "query",
            "required": false,
            "description": "IANA timezone used to read naive inputs and render output.",
            "schema": {
              "description": "IANA timezone used to read naive inputs and render output.",
              "type": "string",
              "default": "UTC",
              "examples": [
                "America/New_York"
              ]
            }
          },
          {
            "name": "compare_start",
            "in": "query",
            "required": false,
            "description": "Start of a second window, to test for overlap with the first.",
            "schema": {
              "description": "Start of a second window, to test for overlap with the first.",
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "compare_end",
            "in": "query",
            "required": false,
            "description": "End of the second window.",
            "schema": {
              "description": "End of the second window.",
              "type": "string",
              "default": ""
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tool result.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "tool": {
                      "type": "string"
                    },
                    "result": {
                      "type": "object",
                      "description": "Tool-specific result payload."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input. The body carries the parameter schema and working examples."
          }
        }
      },
      "post": {
        "operationId": "time_window_post",
        "summary": "Test whether an instant falls inside a time window, and by how much it misses.",
        "description": "Answers the questions a deadline actually poses: is this instant inside the window, how long until it opens or closes, and if it is outside, by how much. Optionally compares two windows for overlap. A window comparison that silently succeeds against the wrong bounds is a failure mode that does not raise an error anywhere — the ship window is missed, or the ASN is late, and the only symptom is a chargeback later. This computes the boundary instead of assuming it.",
        "tags": [
          "time"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "start": {
                    "description": "Window opens at this instant: ISO 8601, unix timestamp, or \"now\".",
                    "type": "string",
                    "examples": [
                      "2026-08-24T09:00:00Z"
                    ]
                  },
                  "end": {
                    "description": "Window closes at this instant. Omit if using `duration_hours`.",
                    "type": "string",
                    "default": ""
                  },
                  "duration_hours": {
                    "description": "Window length in hours, used when `end` is omitted.",
                    "type": "number",
                    "default": 0
                  },
                  "instant": {
                    "description": "The instant to test against the window.",
                    "type": "string",
                    "default": "now"
                  },
                  "timezone": {
                    "description": "IANA timezone used to read naive inputs and render output.",
                    "type": "string",
                    "default": "UTC",
                    "examples": [
                      "America/New_York"
                    ]
                  },
                  "compare_start": {
                    "description": "Start of a second window, to test for overlap with the first.",
                    "type": "string",
                    "default": ""
                  },
                  "compare_end": {
                    "description": "End of the second window.",
                    "type": "string",
                    "default": ""
                  }
                },
                "required": [
                  "start"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool result.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "tool": {
                      "type": "string"
                    },
                    "result": {
                      "type": "object",
                      "description": "Tool-specific result payload."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input. The body carries the parameter schema and working examples."
          }
        }
      }
    },
    "/v1/time/zones": {
      "get": {
        "operationId": "time_zones_get",
        "summary": "List or search IANA timezone identifiers with current offsets.",
        "description": "Every IANA timezone the runtime supports, with its current UTC offset and local time. Search by city, region or offset to resolve a vague location like \"Bangalore\" to a valid identifier before calling other time tools.",
        "tags": [
          "time"
        ],
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "required": false,
            "description": "Case-insensitive substring filter, e.g. \"kolkata\", \"america/\", \"+05:30\".",
            "schema": {
              "description": "Case-insensitive substring filter, e.g. \"kolkata\", \"america/\", \"+05:30\".",
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum results to return.",
            "schema": {
              "description": "Maximum results to return.",
              "type": "integer",
              "default": 50,
              "minimum": 1,
              "maximum": 700
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tool result.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "tool": {
                      "type": "string"
                    },
                    "result": {
                      "type": "object",
                      "description": "Tool-specific result payload."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input. The body carries the parameter schema and working examples."
          }
        }
      },
      "post": {
        "operationId": "time_zones_post",
        "summary": "List or search IANA timezone identifiers with current offsets.",
        "description": "Every IANA timezone the runtime supports, with its current UTC offset and local time. Search by city, region or offset to resolve a vague location like \"Bangalore\" to a valid identifier before calling other time tools.",
        "tags": [
          "time"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "search": {
                    "description": "Case-insensitive substring filter, e.g. \"kolkata\", \"america/\", \"+05:30\".",
                    "type": "string",
                    "default": ""
                  },
                  "limit": {
                    "description": "Maximum results to return.",
                    "type": "integer",
                    "default": 50,
                    "minimum": 1,
                    "maximum": 700
                  }
                },
                "required": [],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool result.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "tool": {
                      "type": "string"
                    },
                    "result": {
                      "type": "object",
                      "description": "Tool-specific result payload."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input. The body carries the parameter schema and working examples."
          }
        }
      }
    },
    "/v1/cron/next": {
      "get": {
        "operationId": "cron_next_get",
        "summary": "Validate a cron expression, explain it in English, and list its next run times.",
        "description": "Parses a standard 5-field cron expression (or 6-field with leading seconds, or a macro like @daily), validates it, describes it in plain English, and computes the next run times in a given timezone with daylight-saving handled. Use it before writing a schedule to config — cron's day-of-month/day-of-week OR-semantics and step syntax are a common source of silently wrong schedules.",
        "tags": [
          "schedule"
        ],
        "parameters": [
          {
            "name": "expression",
            "in": "query",
            "required": true,
            "description": "Cron expression, e.g. \"*/15 * * * *\", \"0 9 * * 1-5\", \"@daily\".",
            "schema": {
              "description": "Cron expression, e.g. \"*/15 * * * *\", \"0 9 * * 1-5\", \"@daily\".",
              "type": "string",
              "maxLength": 200,
              "examples": [
                "0 9 * * 1-5"
              ]
            }
          },
          {
            "name": "timezone",
            "in": "query",
            "required": false,
            "description": "IANA timezone the schedule runs in.",
            "schema": {
              "description": "IANA timezone the schedule runs in.",
              "type": "string",
              "default": "UTC",
              "examples": [
                "America/New_York"
              ]
            }
          },
          {
            "name": "count",
            "in": "query",
            "required": false,
            "description": "How many upcoming run times to return.",
            "schema": {
              "description": "How many upcoming run times to return.",
              "type": "integer",
              "default": 5,
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "description": "Compute run times after this instant instead of now.",
            "schema": {
              "description": "Compute run times after this instant instead of now.",
              "type": "string",
              "default": "now"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tool result.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "tool": {
                      "type": "string"
                    },
                    "result": {
                      "type": "object",
                      "description": "Tool-specific result payload."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input. The body carries the parameter schema and working examples."
          }
        }
      },
      "post": {
        "operationId": "cron_next_post",
        "summary": "Validate a cron expression, explain it in English, and list its next run times.",
        "description": "Parses a standard 5-field cron expression (or 6-field with leading seconds, or a macro like @daily), validates it, describes it in plain English, and computes the next run times in a given timezone with daylight-saving handled. Use it before writing a schedule to config — cron's day-of-month/day-of-week OR-semantics and step syntax are a common source of silently wrong schedules.",
        "tags": [
          "schedule"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "expression": {
                    "description": "Cron expression, e.g. \"*/15 * * * *\", \"0 9 * * 1-5\", \"@daily\".",
                    "type": "string",
                    "maxLength": 200,
                    "examples": [
                      "0 9 * * 1-5"
                    ]
                  },
                  "timezone": {
                    "description": "IANA timezone the schedule runs in.",
                    "type": "string",
                    "default": "UTC",
                    "examples": [
                      "America/New_York"
                    ]
                  },
                  "count": {
                    "description": "How many upcoming run times to return.",
                    "type": "integer",
                    "default": 5,
                    "minimum": 1,
                    "maximum": 100
                  },
                  "from": {
                    "description": "Compute run times after this instant instead of now.",
                    "type": "string",
                    "default": "now"
                  }
                },
                "required": [
                  "expression"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool result.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "tool": {
                      "type": "string"
                    },
                    "result": {
                      "type": "object",
                      "description": "Tool-specific result payload."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input. The body carries the parameter schema and working examples."
          }
        }
      }
    },
    "/v1/json/query": {
      "get": {
        "operationId": "json_query_get",
        "summary": "Extract values from a JSON document with a JSONPath expression.",
        "description": "Runs a JSONPath query and returns the matching values with their concrete paths. Supports property access, array indexing (including negative indices), slices, wildcards, recursive descent (`..`) and filters (`[?(@.price > 10)]`). Pull three fields out of a large API response without carrying the whole document through context.",
        "tags": [
          "data"
        ],
        "parameters": [
          {
            "name": "json",
            "in": "query",
            "required": true,
            "description": "The JSON document, as an object or a JSON string.",
            "schema": {
              "description": "The JSON document, as an object or a JSON string.",
              "maxLength": 1000000
            }
          },
          {
            "name": "path",
            "in": "query",
            "required": true,
            "description": "JSONPath expression, e.g. \"$.items[*].id\" or \"$..author\".",
            "schema": {
              "description": "JSONPath expression, e.g. \"$.items[*].id\" or \"$..author\".",
              "type": "string",
              "maxLength": 1000,
              "examples": [
                "$.items[*].id"
              ]
            }
          },
          {
            "name": "first_only",
            "in": "query",
            "required": false,
            "description": "Return only the first match.",
            "schema": {
              "description": "Return only the first match.",
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tool result.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "tool": {
                      "type": "string"
                    },
                    "result": {
                      "type": "object",
                      "description": "Tool-specific result payload."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input. The body carries the parameter schema and working examples."
          }
        }
      },
      "post": {
        "operationId": "json_query_post",
        "summary": "Extract values from a JSON document with a JSONPath expression.",
        "description": "Runs a JSONPath query and returns the matching values with their concrete paths. Supports property access, array indexing (including negative indices), slices, wildcards, recursive descent (`..`) and filters (`[?(@.price > 10)]`). Pull three fields out of a large API response without carrying the whole document through context.",
        "tags": [
          "data"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "json": {
                    "description": "The JSON document, as an object or a JSON string.",
                    "maxLength": 1000000
                  },
                  "path": {
                    "description": "JSONPath expression, e.g. \"$.items[*].id\" or \"$..author\".",
                    "type": "string",
                    "maxLength": 1000,
                    "examples": [
                      "$.items[*].id"
                    ]
                  },
                  "first_only": {
                    "description": "Return only the first match.",
                    "type": "boolean",
                    "default": false
                  }
                },
                "required": [
                  "json",
                  "path"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool result.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "tool": {
                      "type": "string"
                    },
                    "result": {
                      "type": "object",
                      "description": "Tool-specific result payload."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input. The body carries the parameter schema and working examples."
          }
        }
      }
    },
    "/v1/json/repair": {
      "get": {
        "operationId": "json_repair_get",
        "summary": "Repair malformed JSON and pinpoint the exact line and column when it cannot be repaired.",
        "description": "Takes JSON that almost parses and makes it parse: markdown code fences, prose wrapped around the object, trailing commas, single or smart quotes, unquoted keys, Python True/False/None, comments, NaN, and brackets left open by a truncated response. Every change is reported, so the caller learns what its generator got wrong rather than silently depending on a fixer. When the input cannot be salvaged it returns the precise line, column and a caret pointing at the offending character — which is what makes the next attempt succeed instead of guessing.",
        "tags": [
          "data"
        ],
        "parameters": [
          {
            "name": "input",
            "in": "query",
            "required": true,
            "description": "The malformed JSON text.",
            "schema": {
              "description": "The malformed JSON text.",
              "type": "string",
              "maxLength": 1000000
            }
          },
          {
            "name": "close_truncated",
            "in": "query",
            "required": false,
            "description": "Close brackets left open by a cut-off response.",
            "schema": {
              "description": "Close brackets left open by a cut-off response.",
              "type": "boolean",
              "default": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tool result.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "tool": {
                      "type": "string"
                    },
                    "result": {
                      "type": "object",
                      "description": "Tool-specific result payload."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input. The body carries the parameter schema and working examples."
          }
        }
      },
      "post": {
        "operationId": "json_repair_post",
        "summary": "Repair malformed JSON and pinpoint the exact line and column when it cannot be repaired.",
        "description": "Takes JSON that almost parses and makes it parse: markdown code fences, prose wrapped around the object, trailing commas, single or smart quotes, unquoted keys, Python True/False/None, comments, NaN, and brackets left open by a truncated response. Every change is reported, so the caller learns what its generator got wrong rather than silently depending on a fixer. When the input cannot be salvaged it returns the precise line, column and a caret pointing at the offending character — which is what makes the next attempt succeed instead of guessing.",
        "tags": [
          "data"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "input": {
                    "description": "The malformed JSON text.",
                    "type": "string",
                    "maxLength": 1000000
                  },
                  "close_truncated": {
                    "description": "Close brackets left open by a cut-off response.",
                    "type": "boolean",
                    "default": true
                  }
                },
                "required": [
                  "input"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool result.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "tool": {
                      "type": "string"
                    },
                    "result": {
                      "type": "object",
                      "description": "Tool-specific result payload."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input. The body carries the parameter schema and working examples."
          }
        }
      }
    },
    "/v1/json/canonical": {
      "get": {
        "operationId": "json_canonical_get",
        "summary": "Canonicalize JSON (RFC 8785) and content-address it with SHA-256 and a CIDv1.",
        "description": "Serializes a JSON document to its one canonical form — keys sorted, whitespace dropped, numbers in ECMAScript form — then hashes it. Two documents that mean the same thing produce the same digest regardless of key order or formatting, which is what makes the digest quotable as a receipt. A log line is a claim that the process which wrote it could also edit; a content address is computed from the content, so changing the content changes the address. Pair it with crypto.verify: canonicalize, sign the digest with your own key, and anyone can check the pair without trusting either of you.",
        "tags": [
          "data"
        ],
        "parameters": [
          {
            "name": "json",
            "in": "query",
            "required": true,
            "description": "The JSON document, as an object or a JSON string.",
            "schema": {
              "description": "The JSON document, as an object or a JSON string.",
              "maxLength": 1000000
            }
          },
          {
            "name": "include_canonical",
            "in": "query",
            "required": false,
            "description": "Include the canonical serialization itself, not just its digest.",
            "schema": {
              "description": "Include the canonical serialization itself, not just its digest.",
              "type": "boolean",
              "default": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tool result.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "tool": {
                      "type": "string"
                    },
                    "result": {
                      "type": "object",
                      "description": "Tool-specific result payload."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input. The body carries the parameter schema and working examples."
          }
        }
      },
      "post": {
        "operationId": "json_canonical_post",
        "summary": "Canonicalize JSON (RFC 8785) and content-address it with SHA-256 and a CIDv1.",
        "description": "Serializes a JSON document to its one canonical form — keys sorted, whitespace dropped, numbers in ECMAScript form — then hashes it. Two documents that mean the same thing produce the same digest regardless of key order or formatting, which is what makes the digest quotable as a receipt. A log line is a claim that the process which wrote it could also edit; a content address is computed from the content, so changing the content changes the address. Pair it with crypto.verify: canonicalize, sign the digest with your own key, and anyone can check the pair without trusting either of you.",
        "tags": [
          "data"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "json": {
                    "description": "The JSON document, as an object or a JSON string.",
                    "maxLength": 1000000
                  },
                  "include_canonical": {
                    "description": "Include the canonical serialization itself, not just its digest.",
                    "type": "boolean",
                    "default": true
                  }
                },
                "required": [
                  "json"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool result.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "tool": {
                      "type": "string"
                    },
                    "result": {
                      "type": "object",
                      "description": "Tool-specific result payload."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input. The body carries the parameter schema and working examples."
          }
        }
      }
    },
    "/v1/json/diff": {
      "get": {
        "operationId": "json_diff_get",
        "summary": "Structural difference between two JSON documents, as RFC 6902-style operations.",
        "description": "Compares two JSON documents key by key and reports every addition, removal and change with a JSON Pointer path. Key order and formatting are ignored, so it answers 'did the data actually change' rather than 'did the bytes change' — the right check for API responses and config drift.",
        "tags": [
          "data"
        ],
        "parameters": [
          {
            "name": "a",
            "in": "query",
            "required": true,
            "description": "First document (object or JSON string).",
            "schema": {
              "description": "First document (object or JSON string).",
              "maxLength": 1000000
            }
          },
          {
            "name": "b",
            "in": "query",
            "required": true,
            "description": "Second document (object or JSON string).",
            "schema": {
              "description": "Second document (object or JSON string).",
              "maxLength": 1000000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tool result.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "tool": {
                      "type": "string"
                    },
                    "result": {
                      "type": "object",
                      "description": "Tool-specific result payload."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input. The body carries the parameter schema and working examples."
          }
        }
      },
      "post": {
        "operationId": "json_diff_post",
        "summary": "Structural difference between two JSON documents, as RFC 6902-style operations.",
        "description": "Compares two JSON documents key by key and reports every addition, removal and change with a JSON Pointer path. Key order and formatting are ignored, so it answers 'did the data actually change' rather than 'did the bytes change' — the right check for API responses and config drift.",
        "tags": [
          "data"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "a": {
                    "description": "First document (object or JSON string).",
                    "maxLength": 1000000
                  },
                  "b": {
                    "description": "Second document (object or JSON string).",
                    "maxLength": 1000000
                  }
                },
                "required": [
                  "a",
                  "b"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool result.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "tool": {
                      "type": "string"
                    },
                    "result": {
                      "type": "object",
                      "description": "Tool-specific result payload."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input. The body carries the parameter schema and working examples."
          }
        }
      }
    },
    "/v1/json/schema": {
      "get": {
        "operationId": "json_schema_get",
        "summary": "Infer a JSON Schema from an example document.",
        "description": "Generates a draft 2020-12 JSON Schema from one or more sample documents, detecting string formats (date-time, email, uri, uuid, ipv4) and merging array members into a single item schema. Turns an undocumented API response into a contract you can validate against or hand to a typed client generator.",
        "tags": [
          "data"
        ],
        "parameters": [
          {
            "name": "json",
            "in": "query",
            "required": true,
            "description": "Sample document, or an array of samples to merge.",
            "schema": {
              "description": "Sample document, or an array of samples to merge.",
              "maxLength": 1000000
            }
          },
          {
            "name": "title",
            "in": "query",
            "required": false,
            "description": "Optional schema title.",
            "schema": {
              "description": "Optional schema title.",
              "type": "string",
              "default": ""
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tool result.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "tool": {
                      "type": "string"
                    },
                    "result": {
                      "type": "object",
                      "description": "Tool-specific result payload."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input. The body carries the parameter schema and working examples."
          }
        }
      },
      "post": {
        "operationId": "json_schema_post",
        "summary": "Infer a JSON Schema from an example document.",
        "description": "Generates a draft 2020-12 JSON Schema from one or more sample documents, detecting string formats (date-time, email, uri, uuid, ipv4) and merging array members into a single item schema. Turns an undocumented API response into a contract you can validate against or hand to a typed client generator.",
        "tags": [
          "data"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "json": {
                    "description": "Sample document, or an array of samples to merge.",
                    "maxLength": 1000000
                  },
                  "title": {
                    "description": "Optional schema title.",
                    "type": "string",
                    "default": ""
                  }
                },
                "required": [
                  "json"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool result.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "tool": {
                      "type": "string"
                    },
                    "result": {
                      "type": "object",
                      "description": "Tool-specific result payload."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input. The body carries the parameter schema and working examples."
          }
        }
      }
    },
    "/v1/api/diff": {
      "get": {
        "operationId": "api_diff_get",
        "summary": "Diff an API's declared contract against payloads it actually returned; classify the drift.",
        "description": "Answers 'is this endpoint keeping its promise' — the failure mode where docs say one thing and the live API returns another, the schema validates, and nothing errors. Give it the declared JSON Schema (or a baseline payload to infer one from) plus one or more observed payloads. Returns a verdict, the inferred observed schema, and classified findings: type_mismatch, missing_field and enum_violation (action: block), nullable_in_practice, format_mismatch, undeclared_field and extra_field (action: warn), each with a JSON Pointer path and how many samples it affected. Declared-schema keywords outside the checked subset are listed in ignored_keywords, never silently trusted. Stateless: you hold the baseline, nothing is stored.",
        "tags": [
          "data"
        ],
        "parameters": [
          {
            "name": "declared",
            "in": "query",
            "required": false,
            "description": "Declared contract: a JSON Schema (object or string). Omit to infer one from `baseline`.",
            "schema": {
              "description": "Declared contract: a JSON Schema (object or string). Omit to infer one from `baseline`.",
              "maxLength": 500000
            }
          },
          {
            "name": "baseline",
            "in": "query",
            "required": false,
            "description": "Alternative to `declared`: a known-good payload (or array of them) to infer the contract from.",
            "schema": {
              "description": "Alternative to `declared`: a known-good payload (or array of them) to infer the contract from.",
              "maxLength": 500000
            }
          },
          {
            "name": "observed",
            "in": "query",
            "required": true,
            "description": "Payload the endpoint actually returned, or an array of payloads to check together.",
            "schema": {
              "description": "Payload the endpoint actually returned, or an array of payloads to check together.",
              "maxLength": 1000000
            }
          },
          {
            "name": "samples",
            "in": "query",
            "required": false,
            "description": "Treat a top-level `observed` array as multiple samples rather than one array payload.",
            "schema": {
              "description": "Treat a top-level `observed` array as multiple samples rather than one array payload.",
              "type": "boolean",
              "default": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tool result.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "tool": {
                      "type": "string"
                    },
                    "result": {
                      "type": "object",
                      "description": "Tool-specific result payload."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input. The body carries the parameter schema and working examples."
          }
        }
      },
      "post": {
        "operationId": "api_diff_post",
        "summary": "Diff an API's declared contract against payloads it actually returned; classify the drift.",
        "description": "Answers 'is this endpoint keeping its promise' — the failure mode where docs say one thing and the live API returns another, the schema validates, and nothing errors. Give it the declared JSON Schema (or a baseline payload to infer one from) plus one or more observed payloads. Returns a verdict, the inferred observed schema, and classified findings: type_mismatch, missing_field and enum_violation (action: block), nullable_in_practice, format_mismatch, undeclared_field and extra_field (action: warn), each with a JSON Pointer path and how many samples it affected. Declared-schema keywords outside the checked subset are listed in ignored_keywords, never silently trusted. Stateless: you hold the baseline, nothing is stored.",
        "tags": [
          "data"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "declared": {
                    "description": "Declared contract: a JSON Schema (object or string). Omit to infer one from `baseline`.",
                    "maxLength": 500000
                  },
                  "baseline": {
                    "description": "Alternative to `declared`: a known-good payload (or array of them) to infer the contract from.",
                    "maxLength": 500000
                  },
                  "observed": {
                    "description": "Payload the endpoint actually returned, or an array of payloads to check together.",
                    "maxLength": 1000000
                  },
                  "samples": {
                    "description": "Treat a top-level `observed` array as multiple samples rather than one array payload.",
                    "type": "boolean",
                    "default": true
                  }
                },
                "required": [
                  "observed"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool result.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "tool": {
                      "type": "string"
                    },
                    "result": {
                      "type": "object",
                      "description": "Tool-specific result payload."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input. The body carries the parameter schema and working examples."
          }
        }
      }
    },
    "/v1/csv/convert": {
      "get": {
        "operationId": "csv_convert_get",
        "summary": "Convert between CSV and JSON with correct quote handling.",
        "description": "A full RFC 4180 parser: quoted fields, escaped quotes, embedded commas and newlines inside cells all survive the round trip, and the delimiter is detected automatically. Splitting CSV on commas is the classic silent data-corruption bug; this does not have it.",
        "tags": [
          "data"
        ],
        "parameters": [
          {
            "name": "input",
            "in": "query",
            "required": true,
            "description": "CSV text, or JSON array of objects when converting to CSV.",
            "schema": {
              "description": "CSV text, or JSON array of objects when converting to CSV.",
              "maxLength": 1000000
            }
          },
          {
            "name": "direction",
            "in": "query",
            "required": false,
            "description": "Conversion direction.",
            "schema": {
              "description": "Conversion direction.",
              "type": "string",
              "enum": [
                "csv_to_json",
                "json_to_csv"
              ],
              "default": "csv_to_json"
            }
          },
          {
            "name": "delimiter",
            "in": "query",
            "required": false,
            "description": "Field delimiter. \"auto\" detects among comma, semicolon, tab and pipe.",
            "schema": {
              "description": "Field delimiter. \"auto\" detects among comma, semicolon, tab and pipe.",
              "type": "string",
              "default": "auto",
              "maxLength": 4
            }
          },
          {
            "name": "header",
            "in": "query",
            "required": false,
            "description": "Treat the first CSV row as column names.",
            "schema": {
              "description": "Treat the first CSV row as column names.",
              "type": "boolean",
              "default": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tool result.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "tool": {
                      "type": "string"
                    },
                    "result": {
                      "type": "object",
                      "description": "Tool-specific result payload."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input. The body carries the parameter schema and working examples."
          }
        }
      },
      "post": {
        "operationId": "csv_convert_post",
        "summary": "Convert between CSV and JSON with correct quote handling.",
        "description": "A full RFC 4180 parser: quoted fields, escaped quotes, embedded commas and newlines inside cells all survive the round trip, and the delimiter is detected automatically. Splitting CSV on commas is the classic silent data-corruption bug; this does not have it.",
        "tags": [
          "data"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "input": {
                    "description": "CSV text, or JSON array of objects when converting to CSV.",
                    "maxLength": 1000000
                  },
                  "direction": {
                    "description": "Conversion direction.",
                    "type": "string",
                    "enum": [
                      "csv_to_json",
                      "json_to_csv"
                    ],
                    "default": "csv_to_json"
                  },
                  "delimiter": {
                    "description": "Field delimiter. \"auto\" detects among comma, semicolon, tab and pipe.",
                    "type": "string",
                    "default": "auto",
                    "maxLength": 4
                  },
                  "header": {
                    "description": "Treat the first CSV row as column names.",
                    "type": "boolean",
                    "default": true
                  }
                },
                "required": [
                  "input"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool result.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "tool": {
                      "type": "string"
                    },
                    "result": {
                      "type": "object",
                      "description": "Tool-specific result payload."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input. The body carries the parameter schema and working examples."
          }
        }
      }
    },
    "/v1/doc/extract": {
      "get": {
        "operationId": "doc_extract_get",
        "summary": "Extract the text of a PDF, Word, Excel or other document as markdown or plain text.",
        "description": "Converts a document to markdown or plain text: pass a public URL or the file itself as base64, and get back the content with headings, tables and lists preserved, at a fraction of the tokens that rendered pages cost. Use it when a harness has no native reader for the format — .docx, .xlsx, .odt and .numbers rarely have one — when a document is only a URL away, or when a long PDF's text matters and its layout does not. Handles PDF (.pdf), Word (.docx), Excel (.xlsx, .xlsm, .xlsb, .xls), OpenDocument (.odt, .ods), Apple Numbers, CSV, HTML, XML, and plain-text formats such as .txt and .md. The format is detected from magic bytes, not trusted from the file name, so a PDF served from a .php URL still converts. Two honest limits: a scanned PDF with no text layer has nothing to extract (this is conversion, not OCR), and legacy binary .doc and .ppt files are not readable — resave them as .docx or .pptx. Images are refused rather than described. Documents up to 10 MB.",
        "tags": [
          "doc"
        ],
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": false,
            "description": "Public URL of the document to fetch and convert.",
            "schema": {
              "description": "Public URL of the document to fetch and convert.",
              "type": "string",
              "maxLength": 4000,
              "examples": [
                "https://arxiv.org/pdf/1706.03762"
              ]
            }
          },
          {
            "name": "base64",
            "in": "query",
            "required": false,
            "description": "The file content as base64 (or a data: URI) instead of a URL, for documents not publicly reachable. Up to 10 MB decoded.",
            "schema": {
              "description": "The file content as base64 (or a data: URI) instead of a URL, for documents not publicly reachable. Up to 10 MB decoded.",
              "type": "string",
              "default": "",
              "maxLength": 14000000
            }
          },
          {
            "name": "filename",
            "in": "query",
            "required": false,
            "description": "Original file name, e.g. \"report.docx\". Only needed when the format cannot be detected from the URL or the bytes.",
            "schema": {
              "description": "Original file name, e.g. \"report.docx\". Only needed when the format cannot be detected from the URL or the bytes.",
              "type": "string",
              "default": "",
              "maxLength": 300
            }
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "description": "Output style: markdown keeps headings, tables and lists; text strips them.",
            "schema": {
              "description": "Output style: markdown keeps headings, tables and lists; text strips them.",
              "type": "string",
              "enum": [
                "markdown",
                "text"
              ],
              "default": "markdown"
            }
          },
          {
            "name": "max_chars",
            "in": "query",
            "required": false,
            "description": "Truncate the extracted content beyond this many characters.",
            "schema": {
              "description": "Truncate the extracted content beyond this many characters.",
              "type": "integer",
              "default": 200000,
              "minimum": 100,
              "maximum": 2000000
            }
          },
          {
            "name": "timeout_ms",
            "in": "query",
            "required": false,
            "description": "Fetch timeout in milliseconds when url is used.",
            "schema": {
              "description": "Fetch timeout in milliseconds when url is used.",
              "type": "integer",
              "default": 15000,
              "minimum": 1000,
              "maximum": 30000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tool result.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "tool": {
                      "type": "string"
                    },
                    "result": {
                      "type": "object",
                      "description": "Tool-specific result payload."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input. The body carries the parameter schema and working examples."
          }
        }
      },
      "post": {
        "operationId": "doc_extract_post",
        "summary": "Extract the text of a PDF, Word, Excel or other document as markdown or plain text.",
        "description": "Converts a document to markdown or plain text: pass a public URL or the file itself as base64, and get back the content with headings, tables and lists preserved, at a fraction of the tokens that rendered pages cost. Use it when a harness has no native reader for the format — .docx, .xlsx, .odt and .numbers rarely have one — when a document is only a URL away, or when a long PDF's text matters and its layout does not. Handles PDF (.pdf), Word (.docx), Excel (.xlsx, .xlsm, .xlsb, .xls), OpenDocument (.odt, .ods), Apple Numbers, CSV, HTML, XML, and plain-text formats such as .txt and .md. The format is detected from magic bytes, not trusted from the file name, so a PDF served from a .php URL still converts. Two honest limits: a scanned PDF with no text layer has nothing to extract (this is conversion, not OCR), and legacy binary .doc and .ppt files are not readable — resave them as .docx or .pptx. Images are refused rather than described. Documents up to 10 MB.",
        "tags": [
          "doc"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "description": "Public URL of the document to fetch and convert.",
                    "type": "string",
                    "maxLength": 4000,
                    "examples": [
                      "https://arxiv.org/pdf/1706.03762"
                    ]
                  },
                  "base64": {
                    "description": "The file content as base64 (or a data: URI) instead of a URL, for documents not publicly reachable. Up to 10 MB decoded.",
                    "type": "string",
                    "default": "",
                    "maxLength": 14000000
                  },
                  "filename": {
                    "description": "Original file name, e.g. \"report.docx\". Only needed when the format cannot be detected from the URL or the bytes.",
                    "type": "string",
                    "default": "",
                    "maxLength": 300
                  },
                  "format": {
                    "description": "Output style: markdown keeps headings, tables and lists; text strips them.",
                    "type": "string",
                    "enum": [
                      "markdown",
                      "text"
                    ],
                    "default": "markdown"
                  },
                  "max_chars": {
                    "description": "Truncate the extracted content beyond this many characters.",
                    "type": "integer",
                    "default": 200000,
                    "minimum": 100,
                    "maximum": 2000000
                  },
                  "timeout_ms": {
                    "description": "Fetch timeout in milliseconds when url is used.",
                    "type": "integer",
                    "default": 15000,
                    "minimum": 1000,
                    "maximum": 30000
                  }
                },
                "required": [],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool result.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "tool": {
                      "type": "string"
                    },
                    "result": {
                      "type": "object",
                      "description": "Tool-specific result payload."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input. The body carries the parameter schema and working examples."
          }
        }
      }
    },
    "/v1/text/stats": {
      "get": {
        "operationId": "text_stats_get",
        "summary": "Count characters, words, bytes, sentences and estimated tokens; score readability.",
        "description": "Measures text the way a form validator, a database column and a model context window each measure it — characters, UTF-8 bytes and estimated tokens are three different numbers, and conflating them is how 'it fits' turns into a truncation bug. Also returns Flesch reading ease and Flesch-Kincaid grade level.",
        "tags": [
          "text"
        ],
        "parameters": [
          {
            "name": "text",
            "in": "query",
            "required": true,
            "description": "Text to measure.",
            "schema": {
              "description": "Text to measure.",
              "type": "string",
              "maxLength": 500000
            }
          },
          {
            "name": "top_words",
            "in": "query",
            "required": false,
            "description": "How many of the most frequent words to return (0 disables).",
            "schema": {
              "description": "How many of the most frequent words to return (0 disables).",
              "type": "integer",
              "default": 10,
              "minimum": 0,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tool result.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "tool": {
                      "type": "string"
                    },
                    "result": {
                      "type": "object",
                      "description": "Tool-specific result payload."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input. The body carries the parameter schema and working examples."
          }
        }
      },
      "post": {
        "operationId": "text_stats_post",
        "summary": "Count characters, words, bytes, sentences and estimated tokens; score readability.",
        "description": "Measures text the way a form validator, a database column and a model context window each measure it — characters, UTF-8 bytes and estimated tokens are three different numbers, and conflating them is how 'it fits' turns into a truncation bug. Also returns Flesch reading ease and Flesch-Kincaid grade level.",
        "tags": [
          "text"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "text": {
                    "description": "Text to measure.",
                    "type": "string",
                    "maxLength": 500000
                  },
                  "top_words": {
                    "description": "How many of the most frequent words to return (0 disables).",
                    "type": "integer",
                    "default": 10,
                    "minimum": 0,
                    "maximum": 100
                  }
                },
                "required": [
                  "text"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool result.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "tool": {
                      "type": "string"
                    },
                    "result": {
                      "type": "object",
                      "description": "Tool-specific result payload."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input. The body carries the parameter schema and working examples."
          }
        }
      }
    },
    "/v1/text/case": {
      "get": {
        "operationId": "text_case_get",
        "summary": "Convert a string to camelCase, snake_case, kebab-case, Title Case, a URL slug and more.",
        "description": "Splits an identifier on whatever convention it currently uses — spaces, underscores, hyphens or camel humps, including acronym runs like 'HTTPServer' — then re-emits it in every common casing at once. The slug form also strips accents and punctuation for use in URLs.",
        "tags": [
          "text"
        ],
        "parameters": [
          {
            "name": "text",
            "in": "query",
            "required": true,
            "description": "Input string.",
            "schema": {
              "description": "Input string.",
              "type": "string",
              "maxLength": 10000,
              "examples": [
                "hello world example"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tool result.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "tool": {
                      "type": "string"
                    },
                    "result": {
                      "type": "object",
                      "description": "Tool-specific result payload."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input. The body carries the parameter schema and working examples."
          }
        }
      },
      "post": {
        "operationId": "text_case_post",
        "summary": "Convert a string to camelCase, snake_case, kebab-case, Title Case, a URL slug and more.",
        "description": "Splits an identifier on whatever convention it currently uses — spaces, underscores, hyphens or camel humps, including acronym runs like 'HTTPServer' — then re-emits it in every common casing at once. The slug form also strips accents and punctuation for use in URLs.",
        "tags": [
          "text"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "text": {
                    "description": "Input string.",
                    "type": "string",
                    "maxLength": 10000,
                    "examples": [
                      "hello world example"
                    ]
                  }
                },
                "required": [
                  "text"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool result.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "tool": {
                      "type": "string"
                    },
                    "result": {
                      "type": "object",
                      "description": "Tool-specific result payload."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input. The body carries the parameter schema and working examples."
          }
        }
      }
    },
    "/v1/text/diff": {
      "get": {
        "operationId": "text_diff_get",
        "summary": "Unified diff between two texts, with change statistics and a similarity score.",
        "description": "Produces a git-style unified diff plus structured hunks and a similarity ratio. Compare by line for code and config, or by word to see edits inside a paragraph. Useful for confirming exactly what changed before writing a file, and for summarising a change without re-reading both versions.",
        "tags": [
          "text"
        ],
        "parameters": [
          {
            "name": "a",
            "in": "query",
            "required": true,
            "description": "Original text.",
            "schema": {
              "description": "Original text.",
              "type": "string",
              "maxLength": 200000
            }
          },
          {
            "name": "b",
            "in": "query",
            "required": true,
            "description": "Modified text.",
            "schema": {
              "description": "Modified text.",
              "type": "string",
              "maxLength": 200000
            }
          },
          {
            "name": "mode",
            "in": "query",
[...]
